@media screen and (max-width:768px){
      *{
        margin: 0;
        padding: 0;
      }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        padding: 10px;
        width: 410px; 
      
    }
    nav ul{
        display: none;
    }
    .logo i{
        width: 30px;
        padding: 0px;
    }
    .logo2{

    }
    .home h1{
       text-align: center;
    }
    .hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    
    }
    .hero{
    
    height: 500px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    padding: 10px;
    
    }
    .hero h1{
        font-size: 36px;
        color: white;
        padding: 10px;
        
    
    }
    .hero h6{
        font-size: 18px;
        color: #13547a;
    }

    .box{
   
        width: 100%;
        max-width: 400px;
        margin-top: 40px;
       
    }
    .box .searche-box{
        position: relative;
        left: -5px;
        margin: auto;
        height: 40px;
        max-width: 350px;
       
       
    }
    .searche-box input{
        position: absolute;
        height: 170%;
        width: 100%;
        border-radius: 50px;
        margin: auto;
        background-color: white;
        outline: none;
        border: none;
      
    }
    .button1 button{
        position: relative;
        left: 10vh;
        bottom: 26px;
        padding: 10px;
    }

    .group1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 90px;
        padding: 0px;
        margin: 0px;
    
        
    }
    .sougroup1 {
        width: 320px;
        height: 400px;
        border-radius: 30px;
        padding: 0;
        
        
    }
    .sougroup2{
        width: 320px;
        height: 300px;
        border-radius: 30px;
    }
    .container2{
        height: 700px;
        
    }
    .sharee{
        display: flex;
       justify-content: center;
       gap:     1px;
    
    }
    .group1 .img1 .img2{
        width: 300px;
        height: 300px;
    }
    .group3{
        width: 0vh;
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 70px;
        position: relative;
        bottom: 120px;
        left: 50px;
        
    }
    .group3 .tof3{
        height: 400px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 0px;
    }
    .group3 .tof3 .card{
        width: 300px;
        height: 00px; 
        padding: 10px;
        margin: auto;
        position: relative;
        bottom: 0px;
    }
    .group3 .tof3 .photo1{
        width: 300px;
        height: 300px;
        border-radius: 30PX;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: auto;
       
    }
    .group3 .tof3 .photo1 img {
        width: 300px;
        height: 300px;
        border-radius: 30PX;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
    }
    .group3 p{
        font-size: 13px;
        color: gray;
        text-align: justify;
        padding: 0px;
        position: relative;
        /* top: 150px;  */
    }
    .group3 #chiffre{
        width: 30px;
        height: 40px;
        padding: 5px;
        font-size: 15px;
       

    }
   
    .card1{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 0px;
    }
    .how{
        background-image: url(image/tof-www.avif);
        background-size: cover;
        background: linear-gradient(15deg, #5b87a0 0%, #9eddd6 100%);;
        height: 1400px;
        padding: 20px;
        color: white;
        margin: auto;
    }
    .how h4{
        font-size: 24px;
        padding: 0px;
    }
    .how p{
        font-size: 20px;
    
    }
    .how h1{
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 20px;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .how i{
        font-size: 40px;
    }
    .but{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding: 45px;
        position: relative;
        left: 20px;
        top: 250px;
        
    }
    .but button{
        width: 150px;
        height: 40px;
        border-radius: 50px;
        font-size: 18px;
        background-color: transparent;
        color: #80d0c7;
        border: 1px solid #80d0c7;
       
    }
    .but h2{
        font-size: 18px;
        width: 190px;
    }
    .link1{
        position: relative;
        bottom: 120px;
        margin: 0px;
        padding: 20px;
    }
    .centerx{
       position: relative;
       bottom: 90px;
       font-size: 25px;
       padding: 20px;
    }
    .timeline{
        width: 350px;
        margin: 0px auto;
        height: auto;
        /* height: 900px; */
        padding: 0px;
        border-left: 3px solid #13547a;
        position: relative;
        left: 20px;
      
     }
     .timeline-item{
        position: relative;
        right: 0px;
       padding: 0;
       margin: 0;
     }
     .dive{
     
        display: flex;
        gap: 10px;
        position: relative;
        right: 1px; 
       
    }
    .container3{
        padding: 20px;
    }
    .container3 h1{
        font-size: 40px;
        padding: 10px;
       
    }
    .frequently {
      display: flex;
      justify-content: space-around;
      gap: 50px;
      padding: 0px;
     
    }
    .frequently img{
        width: 340px;
        height: 340px;
        padding: 0px;
        position: relative;
        right: 0px;
       
    }
    .topic{
        height: 700px;
        padding: 0px;
        position: relative;
        right:350px;
        top: 350px;
       
    }
   
    .accordion{
        padding: 10px;
        margin: 10px auto;
        width: 200px;
    }
    #accordion li{
        list-style: none;
        width: 300px;
        margin-bottom: 10px;
        background: #fff;
        padding: 10px;
        border-radius: 20px;
    }
    #accordion li label{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 1000;
        cursor: pointer;
        color: black;
    }
    #accordion li label:hover{
        background-color: #c1dfed;
        border-radius: 40px;
       
    }
    #accordion li label span{
        transform: rotate(90deg);
        font-size: 22px;
        color: #333;
    
    }
    #accordion label + input[type="radio"]{ 
        display: none;
      }
    
      #accordion .content{
        padding: 0 10px;
        line-height: 16px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }  
    
    #accordion label + input[type="radio"]:checked + .content{
        max-height: 200px;
    } 
    .touch{
        display: flex;
        flex-direction: column;
       
    }
    .touch p{
        font-size: 23px;
        color: gray;
    }
    .touch span{
        color: #80d0c7;
    }
    .map img{
        width: 400px;
        height: 300px;
        border-radius: 40px;
        position: relative;
        left: -30px; 
        padding: 10px;
    }
    .contact{
        background-color: rgba(209, 224, 235, 0.768);
        padding: 40px;
       
    }
    .contact h1{
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
    .bas1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        border-bottom-right-radius: 100px;
        background-color: white;
         
      }
      .bas1 h5{
          color:#13547a;
          font-size: 20px;
      }
      .bass{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }
    .choix{
        padding: 10px;
    }
   

  }